################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/FI.WebAtividadeEntrevista/.vs/FI.WebAtividadeEntrevista/v15/Server/sqlite3
